
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/dist/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea/

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
/node_modules

