{% extends 'base.html.twig' %}
{% block title %}Search top places!{% endblock %}
{% block body %}
<form action="">
    <label for="location">Location</label>
    <input class="input is-primary" type="text" id="location" placeholder="Location">
</form>
{% endblock %}